
@{
    Layout = null;
}


<h3>MVC kamp tablo örneği-kategori</h3>
<br />

<table>
    <tr>
        <th>ID</th>
        <th>Kategori Adı</th>
        <th>Kategori Açıklama</th>
        <th>Kategori Durum</th>
    </tr>

    <tr>
        <td>1</td>
        <td>Statik isim</td>
        <td>Statik Açıklama</td>
        <td>Statik Durum</td>
    </tr>


    <tr>
        <td>2</td>
        <td>2-Statik isim</td>
        <td>2-Statik Açıklama</td>
        <td>2-Statik Durum</td>
    </tr>

</table>