
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h3>MVC kamp tablo örneği-kategori</h3>
<br />

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Kategori Adı</th>
        <th>Kategori Açıklama</th>
        <th>Kategori Durum</th>
        <th>Güncelle</th>
    </tr>

    <tr>
        <td>1</td>
        <td>Statik isim</td>
        <td>Statik Açıklama</td>
        <td>Statik Durum</td>
        <td><button class="btn btn-success">Güncelle </button></td>
    </tr>


    <tr>
        <td>2</td>
        <td>2-Statik isim</td>
        <td>2-Statik Açıklama</td>
        <td>2-Statik Durum</td>
        <td><button class="btn btn-success">Güncelle </button></td>
    </tr>

    <tr>
        <td>3</td>
        <td>3-Statik isim</td>
        <td>3-Statik Açıklama</td>
        <td>3-Statik Durum</td>
        <td><button class="btn btn-success">Güncelle </button></td>
    </tr>

    <tr>
        <td>4</td>
        <td>4-Statik isim</td>
        <td>4-Statik Açıklama</td>
        <td>4-Statik Durum</td>
        <td><button class="btn btn-success">Güncelle </button></td>
    </tr>

</table>
<button class="btn btn-success">Yeni Kategori</button>
<button class="btn btn-warning">Kategori Listesi</button>
<button class="btn btn-danger">Kategori Açıklamaları</button>