@using EntityLayer.Concrete
@model List<Admin>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Kategori</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Admin</th>
        <th>Yetki</th>
        <th>Status</th>
        <th>Pasif Yap</th>
        <th>Yetkisini Değiştir</th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <th>@item.AdminID</th>
            <td>@item.AdminUserName</td>
            <td>@item.AdminRole.AdminRoleType</td>
            <td>@item.AdminStatus</td>
            <td><a href="/Authorization/AdminDelete/@item.AdminID" class="btn btn-danger">Durum Değiştir</a></td>
            <td><a href="/Authorization/EditAdmin/@item.AdminID" class="btn btn-warning">Yetkisini Değiştir</a></td>
        </tr>
    }
</table>
<a href="/Authorization/AddAdmin" class="btn btn-success">Yeni Admin Tanımla</a>